---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/ui/Section.astro";
---

<BaseLayout
  title="Cookie Policy | CL Creative"
  description="Cookie Policy for CL Creative"
>
  <Section>
    <div
      id="VFZFMlNHMUlaelV6TTNSUmVGRTlQUT09"
      class="policy_embed_div"
      aria-live="polite"
      aria-busy="true"
    >
      Please wait while the policy is loaded. If it does not load, please <a
        rel="nofollow"
        href="https://policies.termageddon.com/api/policy/VFZFMlNHMUlaelV6TTNSUmVGRTlQUT09"
        target="_blank">click here</a
      > to view the policy.
    </div>
  </Section>
  <script
    is:inline
    src="https://policies.termageddon.com/api/embed/VFZFMlNHMUlaelV6TTNSUmVGRTlQUT09.js"
  ></script>
</BaseLayout>
