---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/ui/Section.astro";
---

<BaseLayout
  title="Privacy Policy | CL Creative"
  description="Privacy Policy for CL Creative"
>
  <Section>
    <div
      id="V1U5Uk4zZE1MMVFyYjNKWGFIYzlQUT09"
      class="policy_embed_div"
      aria-live="polite"
      aria-busy="true"
    >
      Please wait while the policy is loaded. If it does not load, please <a
        rel="nofollow"
        aria-label="click here to view the policy"
        href="https://policies.termageddon.com/api/policy/V1U5Uk4zZE1MMVFyYjNKWGFIYzlQUT09"
        target="_blank">click here to view the policy</a
      >.
    </div>
  </Section>
  <script
    is:inline
    src="https://policies.termageddon.com/api/embed/V1U5Uk4zZE1MMVFyYjNKWGFIYzlQUT09.js"
  ></script>
</BaseLayout>
